* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  /* width: 90%; */
  margin: auto;
  background-color: black;
  align-items: center;
  height: 100vh;
  padding-top: 200px;
}
h2{
    color: yellow;
}
.content {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons{
    margin-top: 20px;
}

button{
    font-size:20px;
    color:grey;
}
